<div class="content mt-4 pt-4" role="upper" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div class="content mt-4 pt-4" role="upper" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxLayoutAlign="center" class="mt-2">
            <a mat-raised-button color="primary" (click)="startGame('easymode')">Easy Mode</a>
        </div>
        <div fxLayoutAlign="center" class="mt-2">
            <a mat-raised-button color="primary" (click)="startGame('hardmode')">Hard Mode</a>
        </div>
    </div>
    <div fxLayoutAlign="center" class="mt-2">
        <a mat-raised-button color="accent" href="/#/Score">Tabla de resultados</a>
    </div>
</div>