p {
    word-break: break-word;
    white-space: normal;
}

button {
    word-break: break-word;
    white-space: normal;
}

.mat-card-actions .mat-button,
.mat-card-actions .mat-raised-button,
.mat-card-actions .mat-stroked-button {
    margin: 0 0px !important;
    text-align: left;
}

.green-button {
    animation: blink-animation 200ms steps(5, start) infinite;
    -webkit-animation: blink-animation 200ms steps(5, start) infinite;
    color: white;
}

@keyframes blink-animation {
    to {
        background-color: #037a07;
    }
}

@-webkit-keyframes blink-animation {
    to {
        background-color: #4caf50;
    }
}